<div class="container">
  <div class="key">
    <span>
      <span class="legend-dot" style="background-color: #77ADFF;"></span>
      Stable Release
    </span>
    <span>
      <span class="legend-dot" style="background-color: #66D99F;"></span>
      Beta Release
    </span>
    <span>
      <span class="legend-dot" style="background-color: #FF8A80;"></span>
      Dev Release
    </span>
    <span>
      <span class="legend-dot" style="background-color: #FFD180;"></span>
      Canary Release
    </span>
  </div>
  <div class="chromium-calendar">Loading Chromium milestone data...</div>
</div>
<script src="/js/chromium.js" defer></script>