<div class="releases">
  {{#if currentlyReleasing.length}}
    <h4>Currently Releasing</h4>
    <div class="active-releases">
    {{#each currentlyReleasing}}
      {{> releaseSquare this}}
    {{/each}}
    </div>
  {{/if}}
  <h4><i class="fas fa-clock"></i>&nbsp;Stable</h4>
  {{#each latestSupported}}
    {{> releaseBar this}}
  {{/each}}
  <h4><i class="fas fa-flask"></i>&nbsp;Pre Release</h4>
  {{> releaseBar lastPreRelease}}
  <h4><i class="fas fa-calendar"></i>&nbsp;Nightly</h4>
  {{> releaseBar lastNightly}}
</div>