<div class="releases">
  <h4>Nightly</h4>
  {{> releaseBar lastNightly}}
  <h4>Beta</h4>
  {{> releaseBar lastBeta}}
  <h4>Supported</h4>
  {{#each latestSupported}}
    {{> releaseBar this}}
  {{/each}}
</div>