<div class="container">
  <div class="key">
    <span>
      <i class="fas fa-tags" aria-hidden="true" style="background-color: rgb(0, 135, 90);"></i>
      Stable Release
    </span>
  </div>
  <div class="calendar">Loading...</div>
  <div class="navigate"></div>
</div>
<script src="/js/newreleases.js" defer></script>