<div class="lookup-container">
<div class="lookup-input">
  <form onsubmit="lookup(event)">
    <input id="input" type="text" placeholder="12345" required>
    <button type="submit">Search</button>
  </form>
</div>
<p class="error" id="error"></p>
<div class="recent-prs">
  <table>
    <thead>
      <tr>
        <th>PR Number</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="table-body">
      {{#each recentPRs}}
      {{> recentPR this}}
      {{/each}}
    </tbody>
  </table>
</div>
</div>

<script>
  async function lookup(event) {
    event.preventDefault();

    const error = document.getElementById('error');
    const { value } = document.getElementById('input');
    const prNumber = parseInt(value, 10);

    if (isNaN(prNumber) || prNumber < 0) {
      error.textContent = 'Invalid PR number - must be a positive number';
      return;
    }

    const { valid } = await fetch(`/pr/is-valid/${prNumber}`).then(res => res.json());
    if (!valid) {
      error.textContent = `PR #${prNumber} not found - please check the number and try again`;
      return;
    }

    window.location = `/pr/${encodeURIComponent(prNumber)}`;
  }
</script>
