<div class="releases">
  <span>Channel:</span>
  <a href="/releases/stable">Stable</a>
  <a href="/releases/prerelease">Prerelease</a>
  <a href="/releases/nightly">Nightly</a>
  {{#each releases}}
    <article class="card">
      {{> metadata this}}
      {{!-- {{{markdown this.body}}} --}}
    </article>
  {{/each}}
    {{{paginate this.pages this.page this.prev this.next}}}
</div>
