<div class='container schedule'>

  <div class='key'>
    <span><i class='electron'></i>Electron Release</span>
    <span><i class='beta'></i> Chromium Beta</span>
    <span><i class='stable'></i>Chromium Stable</span>
  </div>

  <div id='loading'>
    <i class='fas fa-spinner'></i>
    Loading release schedule...
  </div>

  <div id='error' style='display: none;'></div>

  <div id='calendar' class='calendar'></div>
</div>

<script src='/js/schedule.js'></script>