.container {
  width: 100%;
}

.key {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key > span {
  display: inline-flex;
  align-items: center;
}

.key > span:not(:last-child) {
  margin-right: 12px;
}

.key > span > i {
  color: white;
  border-radius: 50%;
  font-size: 14px;
  padding: 8px;
  margin-right: 4px;
}

.key > span > i.empty {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.month {
  width: 289px;
  background-color: white;
  margin: 8px;
  padding: 15px 15px 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .month {
    width: 394px;
    padding: 24px 24px 36px;
  }
}

.month_row.header {
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}

.month_row.header > h3 {
  font-weight: 700;
  font-family: 'Arimo', 'CircularPro', 'appleLogo', sans-serif;
}

.month_row.header > p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #414141;
}

.month_row {
  display: flex;
  flex-direction: row;
}

.month_day {
  flex: 1;
  position: relative;
  height: 40px;
  width: 37px;
  line-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  color: inherit !important;
    border: 0.001rem solid   #cccccc;

}

.month_day .info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.month_day .info > i {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #6554c0;
  color: white;
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.month_day .info > i:not(:last-child) {
  margin-right: 4px;
}

@media (min-width: 768px) {
  .month_day {
    height: 58px;
    width: 58px;
    line-height: 58px;
  }

  .month_day .info {
    bottom: 3px;
  }
}

.month_row.day_row .month_day {
  color: #414141;
  user-select: none;
}

.month_row:not(.day_row) .month_day.has-releases {
  cursor: pointer;
}

.month_row:not(.day_row) .month_day:not(.has-releases) {
  user-select: none;
}

.month_row:not(.day_row) .month_day.has-releases:hover {
  background-color: #f5f5f5;
}

.month_row:not(.day_row) .month_day.no-nightly {
  background-color: #ff563082;
}

.month_row:not(.day_row) .month_day.has-releases.no-nightly:hover {
  background-color: #ff5630cc;
}

.month_day.future {
  opacity: 0.45;
}
