.releases {
  width: 100%;
}

.release-row {
  display: flex;
}

.release-row > div {
  flex: 1;
}

.release-row > div:not(:first-child) {
  padding-left: 8px;
}

.release-row > div:not(:last-child) {
  padding-right: 8px;
}

@media screen and (max-width: 767px) {
  .release-row {
    display: block;
  }

  .release-row > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.active-releases {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 32px;
}

.active-release {
  background: white;
  flex-direction: column;
  display: flex;
  padding: 16px 32px;
  border: 1px solid #e8e8e8;
  text-decoration: none !important;
  color: inherit !important;
  text-align: center;
}

.active-release:hover {
  background-color: #f8f8f8;
}

.active-release i {
  margin-right: 4px;
}

.release {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: 1px solid #e8e8e8;
  text-decoration: none !important;
  color: inherit !important;
}

.release + .release {
  border-top: none;
}

.release:hover {
  background-color: #f8f8f8;
}

.version {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.version :last-child {
  font-style: italic;
  font-size: 14px;
}

.dependency-info {
  width: 40%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.release-row .dependency-info {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .release {
    flex-direction: column;
    align-items: center;
  }

  .version {
    align-items: center;
    width: 100%;
  }

  .version > span:first-child {
    font-weight: bold;
  }

  .dependency-info {
    margin-left: -6px;
    width: auto;
    width: 100%;
  }

  .dependency-info > span:not(:last-child) {
    margin-right: 16px;
  }
}
