.lookup-input {
  text-align: center;
  margin-bottom: 20px;
}

.lookup-input input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.lookup-input button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3b4a6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.lookup-input button:hover {
  background-color: #2f3b56;
}

.error {
  color: red;
  justify-content: center;
  display: flex;
}

.error:empty {
  display: none;
}

h1 {
  text-align: center;
  color: #3b4a6b;
  line-height: 1.25;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3b4a6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #2f3b56;
}

.lookup-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f4f7;
  color: #3b4a6b;
  font-weight: bold;
}

td a {
  color: #3b4a6b;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

tr:hover {
  background-color: #f9fafc;
}

tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  th {
    font-size: 1rem;
    padding: 5px;
    text-align: center;
  }

  td {
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
  }

  .lookup-container {
    overflow-x: scroll;
    overflow-y: visible;
  }
}
