.lookup-input {
  text-align: center;
  margin-bottom: 20px;
}

.lookup-input input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.lookup-input button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3b4a6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lookup-input button:hover {
  background-color: #2f3b56;
}

.error {
  color: red;
  justify-content: center;
  display: flex;
}

.error:empty {
  display: none;
}

h1 {
  text-align: center;
  color: #3b4a6b;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3b4a6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #2f3b56;
}

#table {
  width: 90vw;
  border-collapse: collapse;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 500px) {
  #table {
    width: 80vw;
    border-collapse: none;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
  }

  th,
  td {
    padding: 8px;
  }
}

th {
  background-color: #f2f4f7;
  color: #3b4a6b;
  font-weight: bold;
}

td a {
  color: #3b4a6b;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

tr:hover {
  background-color: #f9fafc;
}

tr:last-child td {
  border-bottom: none;
}

.table-container {
  overflow-x: none;
  width: 100vw;
}

#table {
  width: 100vw;
  border-collapse: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) {
  .lookup-input input[type='text'],
  .lookup-input button {
    width: 90%;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .lookup-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}
