.grid-container {
  display: grid;
  grid-gap: 20px;
  max-width: 900px;
}

.grid-header {
  background-color: var(--ui-text-color); /* Theme color */
  color: var(--navbar-bg); /* Text color to match theme */
  margin: 0;
  padding: 15px;
}

.grid-contents {
  padding: 0 15px 0px 15px;
}

.grid-item {
  background-color: var(--card-bg); /* Theme background */
  color: var(--content-text-color); /* Text color according to theme */
}

.grid-sub-item h3,
.grid-sub-item p {
  display: flex;
  justify-content: center;
  color: var(--content-text-color); /* Theme text color */
}

#grid-pr-body {
  padding: 0 15px 0px 15px;
  word-break: break-word;
  color: var(--content-text-color); /* Theme text color */
}
