.grid-container {
  display: grid;
  grid-gap: 20px;
  max-width: 900px;
}

.grid-header {
  background-color: #9feaf9;
  margin: 0;
  padding: 15px;
}

.grid-contents {
  padding: 0 15px 0px 15px;
}

.grid-item {
  background-color: whitesmoke;
}

.grid-sub-item h3,
.grid-sub-item p {
  display: flex;
  justify-content: center;
}
