header h1 {
  display: flex;
  align-items: center;
}

header h1 > span {
  display: block;
  margin-top: -4px;
  white-space: nowrap;
}

header .latest {
  margin-left: 8px;
  flex-grow: 0;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid red;
  padding: 4px 8px;
  user-select: none;
  color: red;
}

header .latest-stable {
  border-color: #00875a;
  color: #00875a;
}

header .latest-beta {
  border-color: #6554c0;
  color: #6554c0;
}

@media screen and (max-width: 767px) {
  header h1 {
    font-size: 1.5em;
    flex-direction: column;
    margin-block-end: 0;
  }

  header h1 > span {
    margin-top: 8px;
  }

  header > div {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.release-banner {
  border: 2px solid #403294;
  background-color: #998DD9;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px 16px;
}

.install-commands {
  display: flex;
}

.install-commands .command {
  flex: 1;
  background: #2B2F3B;
  color: #9feaf9;
  padding: 8px 32px;
  text-align: center;
}

.install-commands .command:not(:first-child) {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .install-commands {
    flex-direction: column;
  }

  .install-commands .command {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}

.release-banner + .release-versions {
  margin-top: 16px;
}

.release-versions {
  display: flex;
  background: white;
  padding: 16px;
  border: 1px solid #e8e8e8;
  text-decoration: none !important;
  color: inherit !important;
  justify-content: center;
}

.release-versions > a:not(:last-child) {
  margin-right: 16px;
}

.release-versions > a {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 3px;
  color: #1d1d1d;
  text-decoration: none;
}

.release-versions > a[href]:hover {
  background: #F5F5F5;
}

.release-versions svg {
  height: 18px;
  margin-right: 4px;
}

.release-versions i {
  margin-right: 6px;
}

@media screen and (max-width: 576px) {
  .release-versions {
    flex-direction: column;
  }
}
