.pagination {
  text-align: center;
}

.pagination ul {
  padding-left: 0;
}

.pagination li {
  list-style: none;
  padding: 5px 10px;
  margin: 4px;
  border: 1px solid #2b2e3b00;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  min-width: 36px;
  text-align: center;
}

.pagination li.selected {
  background: #2b2e3b;
  color: white;
}

.pagination li:hover {
  border: 1px solid grey;
}

.pagination li a {
  text-decoration: none;
}

.pagination li.selected a {
  color: white;
}

.releases {
  max-width: 100%;
}

.card {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-x: scroll;
}

.tag {
  font-family: monospace;
  padding: 2px 4px;
  border: 1px lightgray solid;
  background: ghostwhite;
  display: inline-block;
  color: #e3112d;
  font-size: 14px;
}

.release-filter a {
  padding: 0 2px;
  text-decoration: none;
}

.selected-release-channel > div {
  border: 1px solid deepskyblue;
  border-left: 4px solid deepskyblue;
  background: azure;
}

.selected-release-filter {
  font-weight: bold;
}

.release-channel-selector {
  flex: 1;
  background: aliceblue;
  border: 1px solid aliceblue;
  padding: 16px;
  height: 100%;
}

.release-channel-selector > strong {
  font-size: 18px;
}

.release-channel-selector > p {
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.release-channel-selector-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr; /*fraction*/
  margin: 10px 0;
}

@media (max-width: 768px) {
  .release-channel-selector-container {
    grid-template-columns: none;
  }

  .release-channel-selector-container > a {
    margin-bottom: 10px;
  }
}
