:root {
  --electron-color-light: #9feaf9;
  --electron-color-mid: #0d4a59;
  --electron-color-dark: #2b2e3b;
  --electron-color-secondary-light: #ff6e6e;
  --electron-color-secondary-mid: #e3112d;

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.09),
    0.3px 0.6px 0.6px -2.2px hsl(var(--shadow-color) / 0.06),
    0.8px 1.5px 1.4px -4.4px hsl(var(--shadow-color) / 0.04);
  --shadow-elevation-medium: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.09),
    0.4px 0.9px 0.8px -1.5px hsl(var(--shadow-color) / 0.07),
    1.4px 2.7px 2.5px -3px hsl(var(--shadow-color) / 0.05),
    3.8px 7.5px 7px -4.4px hsl(var(--shadow-color) / 0.03);
  --shadow-elevation-high: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.09),
    0.4px 0.8px 0.7px -0.6px hsl(var(--shadow-color) / 0.08),
    0.7px 1.5px 1.4px -1.3px hsl(var(--shadow-color) / 0.07),
    1.5px 2.9px 2.7px -1.9px hsl(var(--shadow-color) / 0.06),
    2.8px 5.6px 5.2px -2.5px hsl(var(--shadow-color) / 0.05),
    4.9px 9.8px 9.1px -3.2px hsl(var(--shadow-color) / 0.04),
    8.1px 16.2px 15.1px -3.8px hsl(var(--shadow-color) / 0.03),
    12.5px 25px 23.3px -4.4px hsl(var(--shadow-color) / 0.02);
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.navbar > div,
header > div,
main > div,
footer > div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1342px;
  padding-left: 8px;
  padding-right: 8px;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar {
  min-height: 86px;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  background: #2b2e3b;
}

.navbar > div {
  flex-direction: row;
}

.navbar > div > :first-child {
  flex: 1;
}

.navbar > div > div,
.navbar > div > a {
  align-items: center;
}

.navbar img {
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar .title {
  color: #9feaf9;
  font-weight: 600;
}

.navbar a {
  color: #9feaf9;
  text-decoration: none !important;
  margin-right: 25px;
}

.navbar-lists-name {
  display: flex;
}

.navbar-lists-img {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-lists-name {
    display: none;
  }

  .navbar-lists-img {
    display: flex;
  }

  .navbar > div {
    flex-direction: center;
  }

  .navbar a {
    margin-top: 8px;
    justify-content: flex-start;
  }

  .navbar > div > div {
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

header {
  background: white;
  border-bottom: 1px solid #e8e8e8;
}

header > div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 56px;
  padding-right: 56px;
}

@media screen and (max-width: 576px) {
  header > div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

main {
  /* background: #f5f5f5; */
  background: #ebedf0;
}

main > div {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 90px;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  main > div {
    padding-left: 24px;
    padding-right: 24px;
  }
}

main a {
  color: #4078c0;
}

footer {
  background: white;
  border-top: 1px solid #e8e8e8;
  padding-top: 64px;
  padding-bottom: 32px;
}

footer > div {
  display: flex;
  flex-direction: row;
}

footer > div > :first-child {
  width: 40%;
}

footer > div > :first-child > img {
  height: 96px;
}

footer > div > :last-child a {
  text-decoration: none !important;
  color: #414141;
  margin-right: 16px;
}

code {
  color: #0d4a59;
  padding: 0.2em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0d4a59;
}

#list-style-none {
  list-style-type: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
}

.dropdown-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #9feaf9;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
}

.title-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown.show .dropdown-content {
  display: block;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
