body {
  font-family: 'CircularPro', 'appleLogo', sans-serif;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav > div, header > div, main > div, footer > div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1342px;
  padding-left: 8px;
  padding-right: 8px;
  left: 0;
  right: 0;
  width: 100%;
}

nav {
  min-height: 72px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

nav > div {
  flex-direction: row;
}

nav > div > :first-child {
  flex: 1;
}

nav > div > div, nav > div > a {
  display: flex;
  align-items: center;
}

nav img {
  height: 42px;
  padding-right: 12px;
  border-right: 1px solid #E8E8E8;
}

nav .title {
  color: #414141;
  font-size: 22px;
  padding-left: 10px;
  font-weight: 200;
}

nav a {
  color: #414141;
  text-decoration: none !important;
  margin-right: 25px;
}

header {
  background: white;
  border-bottom: 1px solid #E8E8E8
}

header > div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 56px;
  padding-right: 56px;
}

main {
  background: #F5F5F5;
}

main > div {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 90px;
  flex-direction: row;
}

footer {
  background: white;
  border-top: 1px solid #E8E8E8;
  padding-top: 64px;
  padding-bottom: 32px;
}

footer > div {
  display: flex;
  flex-direction: row;
}

footer > div > :first-child {
  width: 40%;
}

footer > div > :first-child > img {
  height: 96px;
}

footer > div > :last-child a {
  text-decoration: none !important;
  color: #414141;
  margin-right: 16px;
}
