<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electron Releases</title>
    <meta name="twitter:site" content="@ElectronJS" />
    <link
      rel="shortcut icon"
      href="https://www.electronjs.org/images/favicon.ico"
    />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}.css" type="text/css" />
    {{/if}}
    <script src="https://kit.fontawesome.com/8fb0264ba9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">
          <img src="/img/electron.png" />
          <span class="title">Releases</span>
        </a>
        <div>
          <a href="https://electronjs.org/releases.xml" target="_blank" rel="noopener noreferrer">Feed</a>
          <a href="/history">History</a>
          <a href="https://twitter.com/electronjs" target="_blank" rel="noopener noreferrer">Twitter</a>
        </div>
      </div>
    </nav>
    <header>
      <div><h1>Electron Releases{{#if title}} - {{{title}}}{{/if}}</h1></div>
    </header>
    <main>
      <div>
        {{{ body }}}
      </div>
    </main>
    <footer>
      <div>
        <div>
          <img src="/img/logo.png" />
        </div>
        <div>
          <a href="https://electronjs.org">Website</a>
          <a href="https://github.com/electron/electron">Repository</a>
          <div>
            <p>Provided with&nbsp;❤️&nbsp;by Electron JS</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
